.tabButton {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding: 4px 19px 5px;
  height: 41px;
  border-radius: 10px;
  border: 1px solid #1417371a;
  background: #f5f6fa;
  color: #141737;
  margin-right: 21px;
}

.tabSelected {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding: 4px 19px 5px;
  height: 41px;
  border-radius: 10px;
  border: 1px solid #1417371a;
  color: #141737;
  margin-right: 21px;
  background: #dceaff;
  border: 1px solid #006aff;
}
