.layout {
  display: flex;

  &Image {
    min-height: 100vh;
    width: 480px;
    background: #f3e8c9;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1120px) {
      display: none;
    }
  }

  &Content {
    padding: 154px 60px 25px;
    flex: 1;
    @media screen and (max-width: 680px) {
      padding: 76px 22px;
    }
    &Logout {
      position: absolute;
      right: 60px;
      top: 35px;
      @media screen and (max-width: 680px) {
        display: none;
      }
    }
  }
}
